.navbar {
    width: 100%;
}

body {
    padding-top: 5rem;
    background: url(../images/cinema2.jpg);
    background-size: cover;
}

#adminBody {
    padding-top: 5rem;
    background: url(../images/adminbackground.jpg);
    background-size: cover;
}

.main-container {
    float: left;
    margin-top: 15%;
}

.navbar-brand {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;    
}

.nav-item {
    margin-right: 20px;
}

.dropdown {
    margin-right: 40px;
}

.dropdown-menu {
    width: 260px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#message {
	color: white;
}

.filter-content {
    border: beige solid 1px;
    border-radius: 5px 5px 5px 5px;
    float:left;
    width: 15%;
    margin-left: 35px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 35px;
}

.main-span {
    color: white;
}

h5 {
    color: white;
}

.search-title {
    margin-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.filter-div {
    margin-top: 100px;
    float: left;
    width: 20%;
    height: 100%;
}


label {
    color: white;
}


.fas {
    float: right;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
}

.table {
    margin-top: 100px;
    margin-right: 50px;
    float: right;
    width: 75%;
    height: 100%;
}

#projectionsTable{
	margin-right: 25px;
	width: 75%;
	height: 100%;
}

#ticketTable {
    
    margin-right: 50%;
    float: right;
    width: 20%;
    
    
}

footer {
    position: fixed;
    color: white;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#manageDiv {
    width: 200px;
}

#oldPassword {
    margin-top: 5px;
}

#newPassword{
    margin-top: 10px;
    margin-bottom: 10px;
}

#profileDiv{
    height: 250px;
}

img {
    
    margin-top: 50px;
    margin-left: 30px;
    
}


.fa {
    color: #4b4fe2;
    margin-top: 30px;
    margin-left: 20px;
    
}

.container-fluid {

    margin-top: 20px;
}

#btnChangeUser {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
}

#selectGenre{
    margin-left: 25px;
}


#durationMin, #yearMin, #priceMin {
    width: 12%;
    float: left;
}

#durationMax, #yearMax, #priceMax {
    width: 12%;
    float: right;
}


#movieForm {
    margin-left: 20px;
    margin-top: 30px;
}


#bcgImage {
	
	width: 100%;
	height: 50%;
}



