<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CinemaWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>servlets.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>servlets.user.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>servlets.status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>servlets.status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlets.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUsersServlet</display-name>
    <servlet-name>AllUsersServlet</servlet-name>
    <servlet-class>servlets.user.AllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUsersServlet</servlet-name>
    <url-pattern>/AllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserServlet</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>servlets.user.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>servlets.movie.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMoviesServlet</display-name>
    <servlet-name>AllMoviesServlet</servlet-name>
    <servlet-class>servlets.movie.AllMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMoviesServlet</servlet-name>
    <url-pattern>/AllMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnauthorizedServlet</display-name>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <servlet-class>servlets.status.UnauthorizedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <url-pattern>/UnauthorizedServlet</url-pattern>
  </servlet-mapping>
</web-app>